.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.login-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
  width: 100vw;
}

.login-input {
  display: inline-block;
  background-color: white;

  justify-content: right;
  align-items: center;

  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: 50vw;
  font-size: 2vh;
}

.login-button {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: 40vw;
  background-color: #f0932b;
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.3s;
}

.login-button:hover {
  background-color: #b16106;
  transition: all 0.3s;
}

.signup-button {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: 40vw;
  background-color: #38d6e7;
  font-size: 2vh;
  transition: all 0.3s;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0ea0b1;
  transition: all 0.3s;
}

.login-title {
  font-size: 2.5rem;
}

.login-error-message {
  color: rgb(201, 37, 37);
}
