.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.nav-top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 6vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3rem;

  border-style: solid;

  background-color: #f2f2f2;
}

.nav-bottom-wrapper {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 10vh;

  text-align: center;
  align-items: center;
  justify-content: center;

  border-style: solid;

  background-color: #f2f2f2;
}

.nav-bottom-item {
  display: flex;
  width: 33.4vw;
  height: 100%;

  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: #f2f2f2;
  transition: all 0.3s;
}

.nav-bottom-item:hover {
  background-color: #a0a0a0;
  transition: all 0.3s;
}
.nav-bottom-item:active {
  background-color: #727272;
  transition: all 0.3s;
}

.nav-icon {
  background-color: transparent;
  width: 200%;
  height: 200%;
}

.dashboard {
  width: 100%;
  height: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 84vh;
  text-align: center;
  justify-content: center;
}

.dashboard-content-wrapper {
  width: 100vw;
  height: 84vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
