.settings-wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 84vh;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.settings-content-wrapper {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 84vh;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.settings-name-label {
  font-size: 3rem;
}

.settings-input-label {
  font-size: 2rem;
}

.settings-input {
  display: inline-block;
  background-color: white;

  justify-content: right;
  align-items: center;

  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  font-size: 2rem;
  height: clamp(5vh, 7vh, 10vh);
  width: clamp(300px, 60vw, 600px);
}

.settings-input-wrapper {
  display: flex;
  flex-direction: row;
}

.update-button {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;

  font-size: 2rem;
  height: clamp(5vh, 7vh, 10vh);
  width: clamp(300px, 60vw, 600px);
  background-color: #7ed6df;
  color: black;
  transition: all 0.3s;
}

.update-button:hover {
  background-color: #0ea0b1;
  transition: all 0.3s;
}

.signout-button {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  box-sizing: border-box;
  font-size: 2rem;
  height: clamp(5vh, 7vh, 10vh);
  width: clamp(300px, 60vw, 600px);
  background-color: #f0932b;
  color: black;
  transition: all 0.3s;
}

.signout-button:hover {
  background-color: #b16106;
  transition: all 0.3s;
}

.profile-picture {
  border-radius: 50%;
  width: 256px;
  height: 256px;
}
